@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: "Poppins";
  --font-paytoneOne: "Paytone One";
  --color-primary-me: #252829;
  --color-secondary-me: #e9e8e3;
  --color-tertiary-me: #134455;
}


body {
  background: #252829;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}
